<div class="container">
    <div class="jumbotron my-3">
        <h2 class="display-4">About this TODO app</h2>
        <p class="lead">The Todo App built with Angular is a simple yet effective tool for managing tasks. It allows users to add, delete, and mark tasks as completed. The app provides a clean and intuitive user interface, making it easy to organize tasks efficiently.</p>
        <hr class="my-4">
        <h5>Technologies Used:</h5>
        <ul>
            <li><b>Angular Framework:</b> The app is built using Angular, a powerful JavaScript framework for building web applications.</li>
            <li><b>HTML/CSS:</b> Standard web technologies are used for structuring the user interface and styling elements.</li>
            <li><b>Bootstrap:</b> Bootstrap is used to enhance the visual appeal and responsiveness of the app, providing pre-designed components and layouts.</li>
        </ul>

        <hr class="my-4">
        <h5>Features:</h5>
        <ul>
            <li><b>Adding Tasks:</b> Users can add new tasks by providing a title and description. This feature ensures that users can capture all necessary details about a task.</li>
            <li><b>Completing Tasks:</b> Tasks include a checkbox that users can mark to indicate completion. This functionality allows users to track their progress and distinguish between completed and pending tasks.</li>
            <li><b>Strikethrough Effect:</b> Completed tasks are visually differentiated by a strikethrough effect applied to the task title and description. This visual cue enhances usability by clearly indicating which tasks have been completed.</li>
            <li><b>Deleting Tasks:</b> Each task includes a delete button, allowing users to remove tasks that are no longer needed. This feature promotes task management flexibility.</li>
        </ul>
      </div>
</div>
